<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="./images/logo/restaurant.png" sizes="32x32">
    <title>Happiness Comes from The First Bite - Koi Restaurants</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>
<body>
    <a href="#main-content" class="skip-link">Go to Main Content</a>
    <header>
        <!-- <button id="hamburger">==</button> -->
        <nav class="navbar">
            <div class="navbar__container" id="navbar-desktop">
                <div class="navbar__corner-wrap">
                    <a href="./" class="navbar__title">Koi</a>
                </div>
                <ul id="navbar-item-list">
                    <li class="navbar__item active"><a href="./">Home</a></li>
                    <li class="navbar__item"><a href="#">Favorite</a></li>
                    <li class="navbar__item"><a href="https://github.com/zhuxiaoyu88">About Us</a></li>
                </ul>
                <a href="javascript:void(0)" id="hamburger-btn">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
            </div>
            <div class="navbar-mobile" id="navbar-mobile">
            </div>
        </nav>
    </header>
    <main>
        <section class="banner">
            <img
                src="./images/heros/hero-image_2.jpg"
                alt="Banner Image 1"
                class="banner__image"
            >
            <div class="banner__container">
                <div class="banner__text-wrap">
                    <h1 class="banner__title">Koi Restaurants</h1>
                    <p class="banner__description">We love tasty, we love you</p>
                </div>
            </div>
        </section>
        <section class="restaurant-list" id="main-content">
            <div class="container">
                <div>
                    <h2 class="title-section">Find Our Best Restaurants</h2>
                </div>
                <div class="row" id="restaurant-list__container">
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>
            <center>
                &copy;
                <script>document.write(new Date().getFullYear());</script>
                <a href="./" class="link-home">Koi Restaurants</a>. All Rights Reserved
            </center>
        </p>
    </footer>
</body>
</html>
